@import "../../../node_modules/bulma/bulma.sass";

html {
  min-height: 100vh;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.bg--white-plank {
  background-color: white;
}

.mt-50 {
  margin-top: 50px;
}

.page--container-shadow {
  // 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
  -moz-box-shadow:    2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow:         2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.tr-highlight--red {
  color: white;
  background-color: hsl(348, 100%, 61%);

  .td {
    color: white;
  }
}

.tr-highlight--green {
  color: white;
  background-color: #00d1b2;

  .td {
    color: white;
  }
}
